.header{
    background-color:blue;
    height: 60px;
    width: 700px;
  }
  .track{
    margin-top: 1px;
    height: 30px;
    float: left;
  }
  .signout{
    float: right;
    margin-top: 1px;
    margin-right: 5px;
  }
  
  @media(max-width:700px){
    .header{
      width: 300px;
    }
    h2{
      font-size: 16px;
    }
    h4{
      font-size: 12px;
    }
  }