.add-song{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #e84118;
    background-color: #2f3640;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }

.add-song:hover{
    transform: scale(0.6);
    transition-duration: 0.5s;
}

.form{
  width: 600px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-top: 20px;
}
.form input{
  height: 20px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 2px;
}
.form button{
  height: 40px;
  width: 60px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  color: #e84118;
  box-shadow: 3px 3px black;
  border-radius: 5px 10px;
  background: #2f3640;
}
.form button:hover{
  transform: scale(0.6);
    transition-duration: 0.5s;
}

@media(max-width:700px){
  .form{
    width: 250px;
  }
  .form input{
    height: 15px;
  }
  .form button{
    height: 20px;
    width: 40px;
  }
}